@import url("http://www.todayhumor.co.kr/board/css/icon_sprites.css?14");


body { margin:0; }

A:link    {color: blue; text-decoration:none}
A:visited {color: blue; text-decoration:none}
A:hover   {color: red; text-decoration:underline }
td{font-size:9pt;line-height:180%;}

.subject A:link{
	color: #414141;
}

.subject A:visited{
	color: #a7a7a7;
}

#mobile_alert{
	font-size:20px;
/*	-webkit-border-radius: 20px;
	-moz-border-radius: 20px; 
	border-radius: 20px; */
	padding:20px;
	color:white;
	background:#7a0026;
	text-align:center;
	margin:10px;
	display:none;
	cursor:pointer;

}

.msg_div{
	position:absolute;
	top:-10px;
	right:-6px;
	background-color:#3aabcb;
	border:2px solid #0089bc;
	text-align:right;
	color:white;
	font-size:11px;
	font-weight:bold;
	padding:0 2px;
	border-radius:8px;
}


#logo_line_container{width:100%;text-align:center;padding: 0px 0;width:1005px;margin:0 auto}


#logo_line{
	position:relative;
	width:1005px;
	margin:0 auto;
	vertical-align: middle;
    display: table-cell;
    /*padding:45px 0;*/
    height:70px;
    overflow:visible;
}



#logo_toplogo{ float:left; }
#logo_toplogo img{float:left;border:0;visibility:visible;}

#logo_menu{float:left;margin: 11px 14px 0 0;}
#logo_menu a {float:left;background-image: url('/board/images/sprites_top_table_inc.png?t120');height:16px;margin-right: 5px;}

#btn_topmenu_announce { background-position:0 -102px; width:44px; } 
#btn_topmenu_total { background-position:0 -721px; width:61px; } 
#btn_topmenu_total_memo { background-position:0 -737px; width:46px; }
#btn_topmenu_control_panel { background-position:-47px -737px; width:40px; }

#logo_line1 {
	display:inline-block; 
	float:left;
}

#logo_line2{
	display:inline-block;
	float:left;
	position: absolute;
	left: 275px;
}



#logo_line_search_div{
	float: left;
	border: 1px solid #ccc;
	height: 40px;
	border-radius: 19px;
}

#logo_line_search_div form{
	margin: 0;
	line-height: 40px;
}

#logo_line_search_div select{
	margin: 0 0 0px 10px;
	color: #777;
	padding-right: 2px;
	border: 0;	
}

#logo_line_search_div input[type=text]{
	border: 0;
	height: 30px;
	width:150px;
	outline:none	
}



#logo_line_search_div input[type=image]{
  margin: 11px 16px 0px 0;
  float: right;
}



#login_div{
  display:inline-block;
  float:right;
  font-size:12px;
  color: #777;
  margin-top: 9px;
}


#login_div a:link,#login_div a:visited, #login_div a:hover{color: inherit;text-decoration:none;}
#login_div form { float:left; padding:0 6px 0 0; margin:0 6px 0 0; }
#login_div .login_input {float:left;width:60px;margin:0 3px 0 0;background:#ffffff;border: 1px solid #ccc;height: 23px;padding-left: 3px;}
#login_div .login_btn {cursor:pointer;background-color: #fcfcfc;border: solid 1px #ccc;color: #777;font-family:Verdana,Tahoma;font-size: .9em;height: 23px;}
#login_user_info {float:left;margin: 4px 10px 0 0;color: #09f;position:relative;}
#login_user_info * { float:left; }
#login_user_menu {float:left;}

#login_user_menu a, #login_user_menu span { float:left; margin:4px 4px 0 0;border:0; }
#login_user_menu.login a,#login_user_menu.login span {padding: 0 7px 0 3px;border-right: 1px solid #ccc;}

#login_user_menu.login span {cursor: pointer;}


#login_user_menu.login a:last-child{padding: 0 7px 0 3px;border-right:0;}



