@import url("http://www.todayhumor.co.kr/board/css/icon_sprites.css?14");


body { margin:0; }

A:link    {color: blue; text-decoration:none}
A:visited {color: blue; text-decoration:none}
A:hover   {color: red; text-decoration:underline }
td{font-size:9pt;line-height:180%;}

.subject A:link{
	color: #414141;
}

.subject A:visited{
	color: #a7a7a7;
}







.main_table img { border:0; }
.main_table .more { margin:11px 2px 0 0; }
.main_table .list { padding:3px 0; }
.main_table .boardicon { vertical-align:middle; height:14px; }
.main_table .subject { margin:0 4px; }
.main_table .subject a { color:#4f4f4f; }
.main_table .memocount { margin:0 4px; color:#6a6a6a; font-weight:bold; font-size:11px; }
.main_table .okcount { float:right; color:#6a6a6a; font-weight:bold;font-family:Tahoma;font-size:11px;}
.main_table .top { float:left; width:10px; height:27px; color:#FFF; font-size:12px; font-weight:bold; line-height:27px; }
.main_table .top.center { width:360px; }
.main_table .middle.center { clear:both; margin-bottom:0px; padding:4px 8px 4px 8px; width:360px; overflow:hidden; border-width:0 2px 0 2px; border-style:solid; font-size:12px; line-height:13px; }
.main_table .bottom { float:left; width:10px; height:10px; }
.main_table .bottom.center { width:360px; height:10px; border-bottom:2px solid; margi }
.main_table .leftbox { float:left; }
.main_table .leftbox .top.center { background-color:#e43b1a; }
.main_table .leftbox .middle.center { border-color:#e43b1a;  }
.main_table .leftbox .bottom.center { border-color:#e43b1a; }
.main_table .rightbox { float:left; margin-left:6px; }
.main_table .rightbox .top.center { background-color:#f17d0c; }
.main_table .rightbox .middle.center { border-color:#f17d0c; }
.main_table .rightbox .bottom.center { border-color:#f17d0c; }

 
.go_to_mobile {
    text-align:center;
    color:white;
    font-size:1em;
    padding:15px 0;
    background-color:#acca6e;
    font-weight:bold;
}



.view_info_table td{
	background-color:red;
	background: url('/board/images/sprites_list_view.gif') no-repeat top left;
}

.view_info_table > tr > td{

background-color:red;background: url('/board/images/sprites_list_view.gif') no-repeat top left;
background-position:0 -1608px; 
width:26px; 
height:23px; 
border:1px solid red
}


.table_list_subject{ overflow:hidden; }






.span_toptable_bg { background-position:0 -807px; width:6px; height:35px; } 
.span_toptable_bg2 { background-position:0 -843px; width:6px; height:40px; } 
.span_toptable_shadow { background-position:0 -884px; width:9px; height:5px; } 



/*sprites_list_view.gif*/
.sprites_banner_up { background-position:0 0; width:111px; height:19px; } 
.sprites_bar_back { background-position:0 -22px; width:10px; height:23px; } 
.sprites_bar_left_back { background-position:0 -48px; width:120px; height:23px; } 
.sprites_bar_right_back { background-position:0 -74px; width:80px; height:23px; } 
.sprites_book { background-position:0 -100px; width:115px; height:136px; } 
.sprites_bottomtable_shadow { background-position:0 -239px; width:6px; height:5px; } 
.sprites_contents_topbar { background-position:0 -247px; width:760px; height:11px; } 
.sprites_contents_topbar_lower { background-position:0 -261px; width:760px; height:6px; } 
.sprites_delete { background-position:0 -270px; width:73px; height:19px; } 
.sprites_doscrap { background-position:0 -292px; width:159px; height:52px; } 
.sprites_icon_clean { background-position:0 -347px; width:17px; height:14px; } 
.sprites_icon_lovestory { background-position:0 -364px; width:17px; height:14px; } 
.sprites_image_icon { background-position:0 -381px; width:10px; height:10px; } 
.sprites_ipaccuse { background-position:0 -394px; width:35px; height:10px; } 
.sprites_ipaccuse_count_view { background-position:0 -407px; width:79px; height:10px; } 
.sprites_list { background-position:0 -420px; width:73px; height:19px; } 
.sprites_memo_up { background-position:0 -442px; width:80px; height:80px; } 
.sprites_mini_icon { background-position:0 -525px; width:8px; height:7px; } 
.sprites_modify { background-position:0 -535px; width:73px; height:19px; } 
.sprites_nextpage { background-position:0 -557px; width:73px; height:19px; } 
.sprites_nok3 { background-position:0 -579px; width:114px; height:136px; } 
.sprites_ok3 { background-position:0 -718px; width:114px; height:136px; } 
.sprites_subject_bg { background-position:0 -857px; width:2px; height:60px; } 
.sprites_toptable_shadow { background-position:0 -920px; width:9px; height:5px; } 
.sprites_view_info_L { background-position:0 -928px; width:26px; height:189px; } 
.sprites_view_info_M { background-position:0 -1120px; width:32px; height:189px; } 
.sprites_view_info_R { background-position:0 -1312px; width:27px; height:189px; } 
.sprites_view_info_bg_b { background-position:0 -1504px; width:1px; height:32px; } 
.sprites_view_info_bg_t { background-position:0 -1539px; width:1px; height:23px; } 
.sprites_view_info_dot { background-position:0 -1565px; width:5px; height:5px; } 
.sprites_view_info_ear_lb { background-position:0 -1573px; width:26px; height:32px; } 
.sprites_view_info_ear_lt { background-position:0 -1608px; width:26px; height:23px; border:1px solid red} 
.sprites_view_info_ear_mb { background-position:0 -1634px; width:32px; height:32px; } 
.sprites_view_info_ear_mt { background-position:0 -1669px; width:32px; height:23px; } 
.sprites_view_info_rb { background-position:0 -1695px; width:27px; height:32px; } 
.sprites_view_info_rt { background-position:0 -1730px; width:27px; height:23px; } 
.sprites_view_source { background-position:0 -1756px; width:158px; height:52px; } 
.sprites_write_confirm { background-position:0 -1811px; width:73px; height:19px; } 
.sprites_write_confirm2 { background-position:0 -1833px; width:73px; height:19px; } 


.testDiv
{
	border:5px solid red;
	width:400px;
	height:400px;
	font-size:12px;
}

.upfile_image
{
	border:1px dotted orange;
}

.member_icon{
	border:0;
	/*vertical-align:middle;*/
	margin:0 2px;
}


.roundButton{
	border-radius:6px;
	background-color:black;
	color:white;
	padding:6px 8px;
	cursor:pointer;
}

.roundButton.selected{ border-radius:6px 6px 0 0; }

.roundButton.gray{ background-color:gray; color:white; }
.roundButton.gray:hover{ background-color:gray; }

.roundButton.skyblue{ background-color:#07add5; color:white; }
.roundButton.skyblue:hover{ background-color:#18cbf8; }

.roundButton.red{ background-color:#bd0000; color:white; }
.roundButton.red:hover{ background-color:#f70000; }

.call_div{ display:none;border-radius:6px;padding:2px 8px;color:white; }

.scv_notice{ position:relative; border:0; font-size:11px; }
.scv_notice div{ position:absolute; top:4px; right:6px; }
.scv_notice .bubble{ float:left; height:17px; }
.scv_notice .bubble.middle{ padding:0 4px; background:url(/images/scvnotice_middle.gif) repeat-x; line-height:17px; color:black; }
.scv_notice .bubble.left{ width:2px; background:url(/images/scvnotice_left.gif) no-repeat; }
.scv_notice .bubble.right{ width:5px; background:url(/images/scvnotice_right.gif) no-repeat; margin-right:2px; }




tr.list_border_bottom td {
  /*border-bottom:1px solid #0089BC;*/
  border-bottom:1px solid gray;

}

/*.list_icon_td img{
	text-align:left;
	vertical-align: middle;
}
*/
.list_icon_td{
	position:relative;
}
.list_icon_td  div{
	position:absolute;top:5px
}


/*list tr --> .view*/
.view { height:31px;}


.table_list{ position: relative; background-color: white; }
.table_list th{font-weight: normal;border-top:1px solid #c2c2c2;border-bottom:1px solid #c2c2c2;padding:6px 0;text-align: center}
.table_list th td{}
.table_list thead tr{ height: 23px; color:#999; font-size:12px; text-align: center; }
/*.table_list thead tr th{ background: url('http://www.todayhumor.co.kr/board/images/bar_back.gif'); font-weight: normal; }*/
/*.table_list thead tr th.left{ background: url('http://www.todayhumor.co.kr/board/images/bar_left_back.gif') no-repeat; }*/
/*.table_list thead tr th.right{ background: url('http://www.todayhumor.co.kr/board/images/bar_right_back.gif') no-repeat -17px; }*/
.table_list tbody tr.view:hover{ background-color: #DEF2FF; }
.table_list tbody tr.view td{ border-bottom: 1px solid rgb(232, 232, 232);}
.table_list tbody tr.view_now { background-color:#f1f2f1}
.table_list tbody tr td.no{ text-align: center; }
.table_list tbody tr td.no a{ color: #444; font-size: 11px; }
.table_list tbody tr td.icon img{ text-align:left; vertical-align: middle; }
.table_list tbody tr td.subject{ text-align:left; word-break: break-all; }
.table_list tbody tr td.name{ /*overflow: hidden;*/position: relative; text-overflow: ellipsis; white-space: nowrap; font-size: 11.5px; text-align: left; }
.table_list tbody tr td.name a{ color:#414141;}
.table_list tbody tr td.date{ font-size:10px;font-family:tahoma; text-align:center; }
.table_list tbody tr td.hits{ color:#5C5C5C; font-size:11px; text-align:right; }
.table_list tbody tr td.oknok{ color:gray; font-size:11px; font-weight:bold; text-align:center; }
.table_list tbody tr td.button{ height: 30px; }
.table_list tbody tr td.page{ height: 40px; text-align: center; }
.table_list tbody tr td.page span{ font-size: 16px; color: #5151FD; }
.table_list tbody tr td.page span.selected{ color: red; font-weight: bold; }
.table_list tbody tr td.list_ad{ border-bottom: 1px solid #c2c2c2; padding:12px 0 6px; background-color: white; text-align: center; }






#board_map{
    width:850px;
    background:#eaedee;
    display:none;
    position:absolute;
    top:34px;
    left:0px;
    box-shadow: 0 0 3px #bbb;
    z-index:999;
    padding:0px;
}

#board_map table{
    width:100%;

    border-collapse: collapse;       
    box-shadow: 0px 0px 3px #888888; 
}

#board_map tr:nth-child(even){
    background-color:#ffffff;
}
#board_map tr:nth-child(odd){
    background-color:#f5f5f5;
}

#board_map  td{
    /*padding:7px 0;*/  
    line-height: 2.2;  
}

#board_map td:first-child{
    padding:5px 10px;
    width:100px;
}



#board_map td:first-child{
    font-weight: bold;
    
}

#board_map tr:first-child{
    background-color:#64b4c7;
    font-weight:bold;
    color:white;
    height:30px;
}

#board_map li {
    list-style: none;
    float:left;
    margin-right:8px;


}

#board_map a:link,#board_map a:visited{
    color:black; 
}

#board_map img {
	float:left;
	margin-right:2px;
}

#board_map .board_icon_mini {
	float: left;

}

.li`t_memo_count_span {
	color:#666666;
	font-size:11px;
	font-weight: bold;
}

/*.list_name_member {
	color:gray;
	font-weight:bold;
}
*/
.list_name_no_member {
	color:silver !important;
}

.list_name_anonymous{
	color:#d7912c;
}

img.bgm_icon {
    margin-right: 1px;
}






.best_sort_link{
	padding: 7px 10px;
	border-top:1px solid #c2c2c2;

	margin-top:10px;
	/* margin-top:10px; */
	/* text-align:left; */
}
.best_sort_link ul{
	padding:0;
}

.best_sort_link a{
	color:#616161;
}

.best_sort_link li{
	display:inline; 
	margin-right:25px;
	position: relative;
}

.best_sort_link img{
	margin-right:3px;
}

.nok_seperator{
	margin-left:1px;
	margin-right:1px;
}



/*msg */
	.msg_container{
		border-color:#8dc41e;
		border-radius:10px;
		border-width:6px;
		border-style:solid;
		margin:20px 0;
		padding:8px;
		background-color:white;
	}
	.msg_container .msg_btn_more{
		float:right;
		font-size:12px;
		color:black !important;
		padding-top:8px;
		margin-left:4px;
	}
	.msg_container h1, .msg_container h1 a{
		font-size:18px;
		font-weight:normal;
		margin:0;
		color:black !important;
	}
	.msg_container .msg_list{
		width:100%;
		padding:0;
		margin:2px 0 0 0;
		border-collapse:collapse;
		border-top:1px solid black;
	}
	.msg_container .msg_list td{
		border-bottom:1px solid black;
		padding:0;
	}
	.msg_container .msg_list .msg_writer{
		text-align:right;
		padding-right:6px;
		white-space:nowrap;
	}
	.msg_container .msg_list .msg_data{
		<? if(!$is_mobile){ ?>
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		width:502px;
		<? } ?>
	}
	.msg_container .msg_list .msg_msg{
		/*border-top:1px solid black;*/
		padding:10px 0;
		/*margin:5px 5px 0 0;*/
		color:black;
	}
	.msg_container .msg_list .is_unread td a{
		color:black;
	}
	.msg_container .msg_list .is_read, .msg_container .msg_list .is_read td a{
		color:gray;
	}
	.msg_container .msg_list .simple_date{
		margin-left:6px;
	}
	.msg_container .msg_list .is_unread .simple_date{
		color:#fe5804;
	}
	.msg_container .msg_list .is_unread .board_name{
		color:#f30900;
	}
	.msg_container .msg_list .is_unread .msg_type{
		color:#f30900;
	}
	.msg_container .msg_list .msg_deletedwrite{
		text-decoration:line-through;
	}
	.msg_container .msg_list td a:visited{
		color:gray;
	}
/*msg end*/	





/*�곌�寃뚯떆�� 愿��� css*/
.relativeTablesContainer{
  margin-top:40px;
}


.relativeTables{
  border:1px solid #d2d2d2;
  background-color:#f8f8f8;
  padding:15px 18px;
  margin-bottom: 20px;
}


.relativeTables>div{
  position:relative;
  float:left;
  margin-right:50px;  
  padding-left: 25px;
  cursor: pointer;

}

.relativeTables .board_icon_mini{
  float: left;
  margin-right:3px;
}




/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

